.main {
    background: url(../img/login/bg_reg.png) center / cover no-repeat;
    padding: 7rem 0;
    min-height: 100vh;
    width: 100%;
  }
  
.container {
    width: 75%;
    margin: 0 auto;
  }
  
.heading {
    color: #d83431;
    font-size: 4rem;
    margin-top: 4rem;
  }
  
.main__container {
    
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
  
.main__container > * {
    background-color: #ffe9db;
    padding: 1.2rem;
  
    display: flex;
    flex-direction: column;
  
    min-height: 20rem;
  }
  
.main__container form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
.form__message {
    font-size: 1.3rem;
    color: #b3886e;
  }
  
.form__control {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
  }
  
.form__control label {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    color: #8b623d;
    width: 15rem;
  }
  
.form__control input {
    flex: 1;
    height: 2rem;
  }
  
.form__submit {
    margin-top: auto;
    text-align: right;
  }
  
.form__submit-message {
    font-size: 1.3rem;
    color: #b3886e;
  }
  
.button {
    width: 90px;
    height: 35px;
    border: 1px solid #e96b14;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
  
.button--orange {
    background-color: #e96b14;
    color: #fff;
   
  }
.btn-order a{
  color: white;
}
  